@font-face {
    font-family: poppins;
    src: url('../fonts/poppins.ttf')
}

@font-face {
    font-family: mpoppins;
    src: url('../fonts/Poppins-Medium.ttf')
}

body {
    margin: 0;
    font-size: 0.8em;
    font-family: 'poppins';
}

a {
    color: white;
}

header {
    margin: 0;
    color: white;
    background-color: rgb(0, 108, 173);
}

nav {
    margin: 0 0 0 2vh;
    display: flex;
}

nav h1 {
    font-family: 'mpoppins';
    font-size: 1.2em;
}

nav a {
    text-decoration: none;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin-right: 2vh;
}

#profile {
    padding: 2vh 50vh;
    height:25vh;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

#profile .title {
    align-self: baseline;
    font-family: 'mpoppins';
    text-align: center;
    line-height: 2em;
}

#profile .title > p {
    font-size: 1.2em;
}

#job {
    color: rgb(0, 108, 173);
}

#profile img {
    width: 20vh;
    height: 20vh;
    border-radius: 15vh;
    box-shadow: 0.4vh 0.4vh 1vh #aaa;
}

#presentation {
    padding: 2vh 50vh;
    background-color: rgb(0, 108, 173);
    color: white;
}

#skill {
    padding: 2vh 50vh;
}

#skill h3 {
    color: rgb(0, 108, 173);
}

#skill ul {
    line-height: 2.5em;
    list-style: none;
}

#audika {
    font-weight: bolder;
}

#audika::after {
    float:right;
    content: "2014 — 2020";
}

#boulanger {
    font-weight: bold;
}

#boulanger::after {
    float: right;
    content: "2011 — 2013"
}

#saturn {
    font-weight: bold;
}

#saturn::after {
    float: right;
    content: "2010 — 2011"
}

li + ul {
    margin-left: -4vh;
}

#formations {
    padding: 2vh 50vh;
    min-height: 15vh;
    color: white;
    background-color: rgb(0, 108, 173);
}

#formations ul {
    list-style: none;
}

#license::after {
    float: right;
    content: "2015 — 2018";
}

#bac::after {
    float: right;
    content: "2015";
}

#interests {
    padding: 2vh 50vh;
    min-height: 15vh;
}

#interests h3 {
    color: rgb(0, 108, 173);
}

footer {
    color: white;
    display: flex;
    background-color: rgb(0, 108, 173);
    padding: 2vh 1vh;
}

footer div {
    width: 30vh;
}

footer ul {
    list-style: none;
}

body > footer > div:nth-child(2) a {
    text-decoration: none;
}

@media screen and (max-width: 1400px) {
    #profile, #presentation, #skill, #interests, #formations {
        padding: 1vh 20vh;
    }

    #profile img {
        width: 15vh;
        height: 15vh;
        border-radius: 10vh;
    }
} 

@media screen and (max-width: 800px) {
    #profile, #presentation, #skill, #interests, #formations {
        padding: 1vh 10vh;
    }
}

@media screen and (max-width: 590px) {
    #profile, #presentation, #skill, #interests, #formations {
        padding: 1vh 3vh;
    }
}